

//---- Media Breakpoint ----//
@mixin screen-xs-down {
    @media (max-width: 399.98px) { @content; }
}

@mixin screen-xs-up {
	@media (min-width: 400px) { @content; }
}

@mixin screen-xs-down {
    @media (max-width: 399.98px) { @content; }
}

@mixin screen-xs-up {
	@media (min-width: 400px) { @content; }
}

@mixin screen-sm-down {
    @media (max-width: 479.98px) { @content; }
}

@mixin screen-sm-up {
	@media (min-width: 480px) { @content; }
}

@mixin screen-md-down {
    @media (max-width: 703.98px) { @content; }
}

@mixin screen-md-up {
	@media (min-width: 704px) { @content; }
}

@mixin screen-lg-up {
	@media (min-width: 991.98px) { @content; }
}

@mixin screen-lg-down {
    @media (max-width: 992px) { @content; }
}

@mixin screen-xl-down {
    @media (max-width: 1183.98px) { @content; }
}

@mixin screen-xl-up {
	@media (min-width: 1184px) { @content; }
}

@mixin screen-xxl-down {
    @media (max-width: 1499.98px) { @content; }
}

@mixin screen-xxl-up {
	@media (min-width: 1500px) { @content; }
}


//--- Flex Central ---//
@mixin flex-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}